.loginform__main {
  display: flex;
}
.loginform__login,
.loginform__registration {
  cursor: pointer;
}
.loginform__login:hover {
  cursor: pointer;
  text-decoration: underline;
}
.loginform__registration:hover {
  cursor: pointer;
  text-decoration: underline;
}
.pipe {
  margin: 0 10px;
}
