.cabinet-buyer {
  margin-top: 10px;
  width: 100vw;
  background-color: rgb(246, 243, 243);
}
.cabinet-buyer-wrapper {
  display: flex;
  width: 85vw;
  margin: auto;
  position: relative;
}
.cabinet-buyer-navbar {
  position: sticky;
  height: 100%;
}
